@media screen and (max-width: 991px) {
  .container-login {
    height: calc(100vh - 20px);
  }

  .form-box {
    width: 100%;
    height: 70%;
    bottom: 0;
  }

  .container-login.active-login .form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .container-login.active-login .toggle-box::before {
    top: 70%;
    left: 0;
  }

  .toggle-panel {
    width: 100%;
    height: 30%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .container-login.active-login .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .container-login.active-login .toggle-panel.toggle-panel.toggle-right {
    bottom: 0;
  }
}
