@media (min-width: 768px) and (max-width: 991px) {
  .header-primary {
    justify-content: space-between;
    align-items: center;
    margin: 25px 65px;
  }

  #menu-hamburguer {
    display: block;
    background: transparent;
    border: none;
    z-index: 1001;
  }

  #menu-hamburguer img {
    width: 50px;
    height: auto;
  }

  #nav {
    display: none;
  }

  #nav.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(45px) saturate(170%) brightness(1.05);
    -webkit-backdrop-filter: blur(45px) saturate(170%) brightness(1.05);
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.4s ease;
    flex-direction: column;
    z-index: 1000;
    margin-left: 0;
  }

  #nav.active {
    transform: translateY(0);
    opacity: 1;
  }

  body.menu-open {
    overflow: hidden;
    height: 100vh;
  }

  .header-primary ul {
    flex-direction: column;
    gap: 40px;
    background: transparent;
    border: none;
    box-shadow: none;
    height: 0;
    width: 0;
    margin-top: 180px;
  }

  .header-primary ul li a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
  }

  #nav > div {
    margin-top: 55px;
  }

  #nav #login {
    width: 180px;
    height: 45px;
    margin-top: 80px;
    font-size: 1.25rem;
  }

  .header-primary ul li a.active {
    color: var(--color-highlight);
  }

  .header-primary ul li a.active::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--color-highlight);
    box-shadow: 0 0 10px var(--color-highlight);
  }

  .logo {
    z-index: 1001;
  }

  /*Footer*/
  footer img {
    width: 90%;
  }

  footer p {
    color: var(--color-bg);
    font-size: 1.125rem;
  }

  /*Top-Hero-index*/
  .wrapper {
    padding: 48px 60px;
  }

  .top-hero-index {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    place-items: center;
  }

  .hero-title-index {
    width: 100%;
    max-width: 480px;
    height: auto;
    padding: 70px 30px 60px 30px;
  }

  .hero-title-index::after {
    top: 220px;
    left: 40px;
    width: 380px;
    height: 380px;
  }

  .hero-title-index h1 {
    font-size: 2.5rem;
    width: 100%;
    text-align: left;
  }

  .hero-title-index a {
    width: 100%;
    max-width: 360px;
    font-size: 1.125rem;
    margin-top: 100px;
  }

  .hero-information-index {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .hero-information-index .information-container {
    width: 100%;
    max-width: 380px;
    height: auto;
    padding: 24px;
  }

  .hero-information-index .information-container p {
    font-size: 1rem;
    text-align: center;
  }

  .video-pitch {
    width: 100%;
    max-width: 380px;
    height: 300px;
    padding: 24px;
  }

  .video-pitch::after {
    top: 30px;
    left: 100%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
  }

  .video-pitch p {
    font-size: 1rem;
    text-align: center;
  }

  .video-pitch a {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  .img-top-hero-index {
    display: none;
  }

  /*Trilha Exemplo Index*/
  .trail-index {
    padding: 90px 0;
  }

  #estude-empregos-do-futuro {
    font-family: var(--font-title);
    font-size: clamp(2.8rem, 5vw, 4rem);
    max-width: 100%;
    margin-bottom: 80px;
    text-align: center;
    line-height: 1.2;
  }

  #estude-empregos-do-futuro span {
    color: var(--color-primary);
    font-size: clamp(2.8rem, 5vw, 4rem);
  }

  .track-card-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    justify-items: center;
  }

  .card-blue-index,
  .card-pink-index {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 28px;
    gap: 45px;
  }

  .card-blue-index span,
  .card-pink-index span {
    font-size: 1.45rem;
    font-weight: 600;
  }

  .card-blue-index p,
  .card-pink-index p {
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .card-blue-index {
    background-color: var(--color-accent);
  }

  .card-pink-index {
    background-color: var(--color-secondary);
  }

  /* Cultura Organizacional */
  .culture {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 40px 30px;
    gap: 40px;
  }

  .culture img {
    width: 100%;
    max-width: 550px;
    max-height: 400px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }

  .summary-culture {
    width: 100%;
    max-width: 600px;
    gap: 30px;
  }

  /* Cada detalhe */
  .summary-culture details {
    padding-bottom: 10px;
  }

  /* Summary com SVG alinhado */
  .summary-culture summary {
    font-size: clamp(2rem, 3vw, 2.2rem);
    grid-template-columns: 35px 1fr;
    gap: 480px;
    align-items: center;
    padding-bottom: 6px;
  }

  .summary-culture p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
  }

  .summary-culture summary img {
    width: 28px;
    height: 28px;
  }

  /* List Skill index */
  .mockup-index {
    margin: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 0 40px;
  }

  .mockup-index h2 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    margin-bottom: 10px;
  }

  .mockup-index h2 span {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
  }

  .mockup-index img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
  }

  .list-skills-index {
    width: 100%;
    max-width: 700px;
  }

  .list-skills-index ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    place-items: center;
  }

  .list-skills-index ul li {
    width: 100%;
    width: 305px;
    color: var(--color-bg);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    background: var(--color-accent);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .list-skills-index ul li:nth-child(2) {
    background: var(--color-highlight);
    color: var(--color-dark);
  }

  .list-skills-index ul li:nth-child(3) {
    background: var(--color-secondary);
  }

  .list-skills-index ul li:nth-child(4) {
    background: var(--color-primary);
    width: 300px;
  }

  .list-skills-index ul li:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  /*CTA_INDEX*/
  .cta-index {
    padding: 80px 40px;
    border-radius: 30px;
    flex-direction: column;
    gap: 60px;
  }

  .cta-index h2 {
    font-size: 3.2rem;
    line-height: 1.2;
    text-align: center;
  }

  .cta-index h2 span {
    font-size: 3.4rem;
    display: block;
  }

  .cta-index p {
    font-size: 1.25rem;
    line-height: 1.7;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }

  .cta-index a {
    width: 100%;
    max-width: 380px;
    height: 50px;
    font-size: 1.05rem;
    font-weight: 700;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
  }

  .cta-index a:hover {
    transform: scale(1.05);
    border: 2px solid var(--color-bg);
    background: transparent;
    color: var(--color-bg);
  }

  /*Pag Sobre*/
  /*top-hero-about*/
  #wrapper-about {
    padding: 0 48px;
  }

  .top-hero-about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 20px 30px;
    padding-bottom: 0;
  }

  .top-hero-about div {
    max-width: 500px;
    gap: 30px;
  }

  .top-hero-about h1 {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    line-height: 1.4;
  }

  .top-hero-about p {
    font-size: 1.125rem;
    line-height: 1.7;
    font-weight: 400;
  }

  .top-hero-about a {
    width: 100%;
    max-width: 380px;
    font-size: 1.125rem;
    padding: 12px 0;
    border-radius: 18px;
    margin: 0 auto;
  }

  .img-top-hero-about {
    width: 100%;
    max-width: 460px;
    height: auto;
  }

  /*flask-cards-about*/
  .flask-cards-about {
    padding: 100px 60px;
    gap: 90px;
    text-align: center;
  }

  /* Título */
  .flask-cards-about h2 {
    font-size: 2.8rem;
    max-width: 85%;
    margin: 0 auto 50px auto;
    line-height: 1.3;
    text-align: center;
  }

  .flask-cards-about h2 span {
    font-size: 2.8rem;
  }

  .grid-cards-about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .cards-description-about {
    width: 100%;
    align-items: center;
    gap: 40px;
  }

  .grid-cards-about img {
    width: 100%;
    max-width: 540px;
    height: auto;
    border-radius: 25px;
  }

  .cards-description-about div {
    width: 100%;
    max-width: 540px;
    padding: 35px 30px;
    border-radius: 25px;
    gap: 20px;
    text-align: center;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.12);
  }

  .cards-description-about div span {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .cards-description-about div p {
    font-size: 1.05rem;
    line-height: 1.6;
  }

  .cards-description-about div + div {
    margin-top: 20px;
  }

  /* transição página sobre */
  .background-about {
    background-size: cover;
    background-position: center;
    margin-top: 90px;
  }

  /*história about*/
   .emergence-about h2 {
    width: 85%;
    font-size: 2rem;
    padding: 30px 40px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto 10px auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }

  .emergence-about .title {
    width: 60%;
    font-size: 2rem;
    margin: -25px 30px 80px auto;
    text-align: center;
    border-radius: 25px;
    padding: 25px 30px;
    background-color: var(--color-secondary);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }

  .cards-history-about {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
  }

  .cards-history-about div {
    width: 45%;
    min-width: 320px;
    height: auto;
    padding: 30px 25px;
    gap: 25px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }

  .cards-history-about div:hover {
    transform: translateY(-5px);
  }

  .cards-history-about span {
    font-size: 1.35rem;
  }

  .cards-history-about p {
    font-size: 1rem;
    line-height: 1.6;
  }

    /*ODS About*/
    .ods-about h2 {
    font-size: 2.25rem;
    width: 80%;
    margin: 100px auto 60px auto;
    text-align: center;
    letter-spacing: 0.15rem;
    line-height: 1.4;
  }

  .cards-ods-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .cards-ods-about img {
    width: 230px;
    height: auto;
  }

   /*CTA ABOUT*/
  .cta-about {
    padding: 60px 20px;
    text-align: center;
  }

  .cta-about h3 {
    font-size: 3rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--color-dark);
  }

  .containers-cta-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .containers-cta-about div p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--color-bg);
    max-width: 100%;
    margin: 0 auto;
  }

  .containers-cta-about div:nth-child(3){
    max-width: 100%;
  }

  .containers-cta-about div a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    max-width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.3s ease;
  }

  .containers-cta-about a:hover {
    transform: scale(1.03);
  }

  .containers-cta-about div:nth-child(1) {
    max-width: 100%;
    height: auto;
  }

  .containers-cta-about div:nth-child(2) {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }
}
